<div class="page-header">
  <h1><%= @post.title %></h1>
  <% unless @post.download_link.blank? %>
    <a id="gameButton" type="button" class="btn btn-primary" href="<%= @post.download_link %>" >Download Game <span class="glyphicon glyphicon-download-alt"></a>
  <% end %>
</div>
   
<div class="well">
  <p>
    <p><%= @post.text.html_safe %></p>
  </p>
</div>

<% unless @post.video_url.blank? %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Video</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src=<%=@post.video_url %> frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_user %>
  <div class="well">
    <%= link_to 'Edit', edit_post_path(@post) %>
  </div>
<% end %>
