<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ben's Web Portfolio</a>
      <ul class="nav navbar-nav">
        <li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
        <li role="presentation"><%= link_to 'My Games', posts_path %></li>
        <li role="presentation"><%= link_to 'About Me', bio_index_path %></li>
        <li role="presentation"><%= link_to 'Accomplishments', accomplishments_index_path %></li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li role="presentation">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Admin Login', new_user_session_path) %>
          <% end %>
        </li>
      </ul>
    </div> 
  </div>
</nav>
